<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">index</a><br/>
<a href="/employeelist">Employee list</a><br/>
<a href="/adddepartment">Add a Department</a>
<a href="/addemployee">Add an Employee</a>
<h1>Department List</h1>
<table >
    <tr>
        <th>Department Name</th>

    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.DName}"></td>

        <td>

            <a th:href="@{/updatedepartment/{id}(id=${department.id})}">Update</a>
            <a th:href="@{/detaildepartment/{id}(id=${department.id})}">Details</a>
            <a th:href="@{/deletedepartment/{id}(id=${department.id})}">Delete</a>
        </td></tr>
</table>

<div th:each="department:${departments}">
    <h2 th:text="${department.DName}"></h2>
    <ul>
        <th:block th:each="employee:${department.employees}">
            <li th:inline="text"><b>[[${employee.name}]]: </b>[[${employee.jobTitle}]]</li>
        </th:block>
    </ul>


</div>

</body>
</html>