<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Employee Form</h1>
<form action="#" th:action="@{/processemployee}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br/>

    Job Title :<input type="text" th:field="*{jobTitle}"/>
    <span th:if="${#fields.hasErrors('jobTitle')}"
          th:errors="*{jobTitle}"></span><br/>

    <Select th:field="*{department}">
        <option th:each="department :${department}" th:text="${department.DName}" th:value="${department.id}">

        </option>
    </Select>
    <input type="submit" value="Submit" />
</form>

</body>
</html>